/* * { border: 1px solid red; } */
* { box-sizing: border-box; }

/*Colours*/
:root {
  --bright: #F0471A;
  --dark: #3b0c00;
  --med-dark: #bc400f;
  /* --med-dark: #73240f; */
  /* --med-light: #e18e78; */
  /* --med-light: #e38965; */
  --med-light: #fa966b;
  /* --light: #ffe6df; */
  --light: #fffdfc;
}

.lead {color: var(--bright);
  }

.btn {
  background: var(--med-dark);
  color: var(--light);
  border: var(--dark);
}

.btn:hover {
  background: var(--bright);
  color: var(--light);
  border: var(--dark);
}

body {
background: var(--light);
  color: var(--dark);
}

a {
color: var(--bright);
transition: color 600ms;
-webkit-transition: color 600ms;//Safari/Chrome
-moz-transition: color 600ms;//Firefox
}

a:hover {
  color: var(--med-light);
  text-decoration: none;
}

/*Typography*/
h1,
h2,
h3,
.lead {
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

h1 {font-size: 36px;
text-align: center;
}

h2 {font-size: 18px;}

p,
li {
  font-family: Georgia, Lucida Bright, serif;
}

/* Layout */
body {
background: var(--light);
  color: var(--dark);
  position: relative;
}

.header h1 {
  text-align: center;
}
.column {
    /* display: inline-block; */
  float: left;
}

.image {
  /* position: relative; */
  top: 80px;
  width: 30%;
}

.image img {
  width: 100%;
}

.contain {
  margin: 0 auto;
  padding: 20px;
}

.content {
  padding-top: 90px;
}

.navbar {
  background-color: var(--bright) !important;
}

.nav-link {
  font-family: Nunito, Helvetica, Arial, sans-serif !important;
}

.navbar-brand {
  text-transform: uppercase;
}

#contact {
    background-image: url("../img/moon.jpg"); /*Add a background image*/
  padding-top: 40px;
    background-attachment: fixed; /*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover; /*Have the background cover the entire div section*/
    color: white; /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
    height: auto;
}

.skill {
  background: var(--med-dark);
  color: var(--light);
  width: 33%;
  line-height: 1.5;
}

.contact-box {
  line-height: 1.5;
  text-align: center;
  padding-top: 2%;
}

.linkedin {
  background: var(--med-dark);
  color: var(--light);
}

.email {
  background: var(--bright);
  color: var(--light);
}

.phone {
  background: var(--med-light);
  color: var(--light);
}

.main-text {
  clear: both;
  padding-top: 30px;
}

/* Contact form */
form {
  padding-top: 16px;
}

#form-btn {
  margin:0 auto;
  display:block;
  margin-top: 16px;
}

.contact-box a {
  color: var(--light);
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

.phone a:hover {
  text-decoration: none;
  cursor: default;
}

.display-4 {color: var(--bright);
  font-weight: 200;
  font-weight: bold;
}

/* bootstrap accordion  */

.card-header { background: var(--med-light); }
/* .card-header button { color: #ffffff; } */
/* .card-body { font-size: 18px; } */

/* Image carousel */
.carousel-caption {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  /* top: 0;
  bottom: auto; */
  /* text-align:right;
  left: auto;
  right: 10%; */
}

#carouselExampleIndicators {
  padding-top: 65px;
}

.berlin-car {
  bottom: 75%;
  color: var(--light);
}

.magic-car {
  color: var(--bright);
  bottom: 25%;
  top:auto;
}

.chair-car {
  color: var(--light);
}

.lava-car {
  bottom: 75%;
  color: var(--light);
}

.carousel-indicators li {
  background-color: var(--med-light);
}

.carousel-indicators .active{
  background-color: var(--bright);
}

#portfolio{
  margin-top: 5%;
}

#portfolio h2{
text-align:center;
}

/* Footer */

footer{
  margin-top: 10px;
  margin-bottom: 10%;
  /* margin-left: 2%;
  margin-right: 2%; */
}

/* Copyright */
#cr {
text-align:center;
background-color: var(--bright);
color: var(--light);
padding-top: 4px;
padding-bottom: 4px;
}

#socialmedia {
text-align:center;
background-color: var(--med-light);
padding-top: 8px;
}

.fb-like{
  margin-bottom: 1%;
}

.workpics{
  margin-top: 10%;
}

.about{
  margin-top: 10%;
  margin-bottom: 10%;
  /* margin-left: 2%;
  margin-right: 2%; */
}

.embed-responsive-item{
  margin-top: 10%;
  margin-bottom: 10%;
  /* margin-left: 2%;
  margin-right: 2%; */
}

/* Modal window */
  .modal {
    color: var(--dark);
    width: auto;
  }

  .modal-button {
    background-color: var(--bright);
    margin:0 auto;
    display:block;
  }

  .modal-button:hover {
    background-color: var(--med-light);
}

  #modal-embed {
    height: 500px;
    width: 100%;
  }

/* Change colours of tooltips */
.tooltip-inner {
  background-color: var(--bright);
  color: var(--light);
}
-/*
####################################################
M E D I A  Q U E R I E S
####################################################
Have to stay at the end
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    h1 {font-size: 36px;}
    h2 {font-size: 18px;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    h1 {font-size: 40px;}
    h2 {font-size: 20px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    h1 {font-size: 50px;}
    h2 {font-size: 30px;}

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    h1 {font-size: 60px;}
    h2 {font-size: 40px;}
  }

/* float modal button right */
  @media (min-width: 768px) {
    .modal-button button {
      float: right;
    }
  }
