/* * { border: 1px solid red; } */
* { box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 80%;
}
.header h1 {
  text-align: center;
}
.column {
    /* display: inline-block; */
  float: left;
}

.image {
  /* position: relative; */
  top: 80px;
  width: 30%;
}

.image img {
  width: 100%;
}


.skill {
  width: 33%;
float:right;
line-height: 1.5;
}

.linkedin,
.email,
.phone {
  width: 33%;
  line-height: 1.5;
  text-align: center;
}

.main-text {
  clear: both;
  padding-top: 30px;
}

.sidelinks {
  padding-left: 10px;
}

/* #skill-list {margin-left: 30px} */


/*Typography*/
h1,
h2,
h3,
.lead {
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

p,
li {
  font-family: Georgia, Lucida Bright, serif;
}

.intro p {
  font-size: 3em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

.skill h3 {
text-align: center;
text-transform: uppercase;
}

.jumbotron{
  background-image: url("../img/berlin.jpg");
  background-size: cover;
  background-position: center;
}


/*Colours*/
:root {
  --bright: #F0471A;
  --dark: #3b0c00;
  --med-dark: #bc400f;
  /* --med-dark: #73240f; */
  /* --med-light: #e18e78; */
  --med-light: #e38965;
  /* --light: #ffe6df; */
  --light: #fffdfc;
}

body {
background: var(--light);
  color: var(--dark);
}

.skill {
  background: var(--med-dark);
  color: var(--light);
}

.linkedin {
  background: var(--med-dark);
  color: var(--light);
}

.email {
  background: var(--bright);
  color: var(--light);
}

.phone {
  background: var(--med-light);
  color: var(--light);
}

.btn {
  background: var(--med-dark);
  color: var(--light);
  border: var(--dark);
}

.btn:hover {
  background: var(--bright);
  color: var(--light);
  border: var(--dark);
}


.jumbotron p {
  color: white;
}

.jumbotron a {
  color: var(--bright);
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

.linkedin a,
.email a {
  color: var(--light);
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

  div {font-family:  Georgia, Serif;}

.display-4 {color: var(--bright);
  font-weight: 200;
  font-weight: bold;
}

.lead {color: #f46242;
  }
